{% load static %}
{% load search_extra %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IIr Final Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "css/Highlight-Blue.css" %}>
    <link rel="stylesheet" href={% static "css/hw4_styles.css" %}>
</head>

<body>
    <div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">mi-RNA and Cancer</h2>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form name="form" id="form">
                        <a href="#" class="text-white bg-success">cancer</a>
                        <select class="form-control" id="keyword_cancer">
                          <option value="Osteosarcoma">Osteosarcoma</option>
                          <option value="Ewing sarcoma">Ewing sarcoma</option>
                          <option value="Chondrosarcoma">Chondrosarcoma</option>
                          <option value="Multiple myeloma">Multiple myeloma</option>
                          <option value="Rhabdomyosarcom">Rhabdomyosarcom</option>
                            <option value="Synovial sarcoma">Synovial sarcoma</option>
                          <option value="Neuroblastoma">Neuroblastoma</option>
                          <option value="Cholangiocarcinoma">Cholangiocarcinoma</option>
                          <option value="Retinoblastoma">Retinoblastoma</option>
                          <option value="Squamous cell carcinoma">Squamous cell carcinoma</option>
                        </select>
                    </form>
                </div>
                <div class="col-md-6">
                    <form name="form" id="form">
                        <a href="#" class="text-white bg-danger">miRNA</a>
                        <select class="form-control" id="keyword_mirna">
                          <option value="miR-34a">miR-34a</option>
                          <option value="miR-143">miR-143</option>
                          <option value="miR-22">miR-22</option>
                          <option value="miR-106a">miR-106a</option>
                          <option value="miR-181a">miR-181a</option>
                            <option value="miR-141">miR-141</option>
                          <option value="miR-15a">miR-15a</option>
                          <option value="miR-25">miR-25</option>
                          <option value="miR-206">miR-206</option>
                          <option value="miR-1">miR-1</option>
                            <option value="miR-183">miR-183</option>
                          <option value="miR-17">miR-17</option>
                          <option value="miR-124">miR-124</option>
                          <option value="LIN28b">LIN28b</option>
                          <option value="miR-26a">miR-26a</option>
                            <option value="miR-21">miR-21</option>
                          <option value="let-17">let-17</option>
                          <option value="miR-17-92">miR-17-92</option>
                          <option value="miR-184">miR-184</option>
                          <option value="miR-31">miR-31</option>
                        </select>
                        <input type="button" class="btn btn-outline-primary" name="submit" value="query" onclick="sendQuery();" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p id="avali-cancer-mirna">avaliable cancer and mi-RNA:<br></p>
                    <p class="text-success">Cancer type:</p>
                        1.	Osteosarcoma  骨肉瘤<br>
                        2.	Ewing sarcoma   尤文式骨肉瘤<br>
                        3.	Chondrosarcoma  軟骨骨肉瘤<br>
                        4.	Multiple myeloma   多發性骨髓瘤<br>
                        5.	Rhabdomyosarcom    橫紋肌肉瘤<br>
                        6.	Synovial sarcoma    關節滑囊肉瘤<br>
                        7.	Neuroblastoma    神經母細胞瘤<br>
                        8.	Cholangiocarcinoma   膽管惡性腫瘤<br>
                        9.	Retinoblastoma   視網膜神經母細胞瘤<br>
                        10.	Squamous cell carcinoma  扁平細胞癌<br>
                </div>
                <div class="col-md-6">
                    <p class="text-danger">MicroRNA:  <p>
                        1.	miR-34a<br>
                        2.	miR-143<br>
                        3.	miR-22<br>
                        4.	miR-106a<br>
                        5.	miR-181a<br>
                        6.	miR-141<br>
                        7.	miR-15a<br>
                        8.	miR-25<br>
                        9.	miR-206<br>
                        10.	miR-1<br>
                        11.	miR-183<br>
                        12.	miR-17<br>
                        13.	miR-124<br>
                        14.	LIN28b<br>
                        15.	miR-26a<br>
                        16.	miR-21<br>
                        17.	let-17<br>
                        18.	miR-17-92<br>
                        19.	miR-184<br>
                        20.	miR-31<br>
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-success">Example Pairs:</h4>
                    <p>Osteosarcoma and miR-34a</p>
                    <p>Squamous cell carcinoma and miR-31</p>
                    <p>Rhabdomyosarcom and miR-1</p>
                </div>
            </div>
            <div class="row">
                <h4 class="text-primary">Evidence Score of given miRNA and Cancer</h4>
                <h3>key senteces * num of articles * ( avg(impact factor + 1 ) )</h3>
            </div>
            <div class="row">
                <p class="text-primary">Evidence Score = </p>
                <p id = 'evid_score'></p>
            </div>

        </div>
    </div>

{#   search result #}
    <div>
        <div class="container">
            <div class="row">
                <table class="table" id="sentences_list">
                  <thead>
                    <tr>
                      <th scope="col">sentence</th>
                      <th scope="col">journal</th>
                      <th scope="col">impact factor</th>
                    </tr>
                  </thead>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        function sendQuery(){
            // clear list
            document.getElementById("sentences_list").innerHTML = '<thead>' +
                    '<tr>' +
                      '<th scope="col">sentence</th>' +
                      '<th scope="col">journal</th>' +
                      '<th scope="col">impact factor</th>' +
                    '</tr> ' +
                  '</thead>' +
                  '<tbody>';

            document.getElementById("evid_score").innerHTML = '';

            // get input keyword
            const keyword_cancer = $('[id="keyword_cancer"]').val();
            const keyword_mirna = $('[id="keyword_mirna"]').val();

            $.ajax({
                url: "/search_engine/get_evidence",
                type: 'POST',
                data:{cancer:keyword_cancer, mirna: keyword_mirna},
                success: function (data) {
                    var sent_list = document.getElementById("sentences_list");
                    var evid_score = document.getElementById("evid_score");

                    for (i=0;i<data['evidence_sentences'].length;i++){
                        sent_list.innerHTML += '<tr>' +
                            '                                 <td>' + data['evidence_sentences'][i] + '</td>' +
                            '                                 <td>' + data['journals'][i] + '<td>' +
                                '                             <td>'+ data['impact_factors'][i] + '<td>';
                    }

                    sent_list.innerHTML += '</tbody>';
                    evid_score.innerHTML += '<p>' + data['evidence_score'] + '</p>';

                },
                error: function () {
                    alert("query failed")
                }
            });
        };

    </script>
</body>

</html>